$white: #ffffff;
$bg-skyblue: #C8E7EB;
$light-pink: #E5A7E2;
$pos-abs: absolute;
$pos-rel: relative;
$line-height32: 32px;
$font-size-16: 16px;
$font-normal: normal;
$font-bold: bold;
$text-upper: uppercase;
$box-shadow: 0px 24px 48px rgba(0, 50, 56, 0.160949);